---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Blog'
  description='A collection of blogposts by Bianca Tuliao'
  pageTitle='Bianca Tuliao | Blog'
>
  <main class='p-6' style="background-color: #4ADE80;">
    <BlogList posts={posts} />
  </main>
</Layout>
