---
import Layout from "@layouts/Default.astro";
import { Button } from "@eliancodes/brutal-ui";
import { Card } from "@eliancodes/brutal-ui";
---

<Layout
  title="Career"
  pageTitle="Bianca Tuliao | Career"
  description="A highlight of Bianca's experience in the tech industry"
>
  <main class="p-6" style="background-color: #ABCFE2;">
    <section id="career" class="mt-8 grid md:grid-cols-3 gap-8">
      <div class="flex flex-col gap-8">
        <Card color="#D3CAE6">
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-6xl">
              Portfolio
            </p>
            <div class="flex gap-4 flex-wrap">
              <Button target={"_self"} href="/projects/">
                Projects &rarr;
              </Button>
              <Button target={"_blank"} href="https://github.com/bttuliao">
                GitHub &rarr;
              </Button>
            </div>
          </div>
        </Card>
        <Card color="#F9AE77">
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-6xl">
              Contact
            </p>
            <p class="mt-2 outfit text-xl md:text-1xl lg:text-1xl">
              Feel free to say hi👋 or share with me a list of your favorite restaurants.
            </p>
            <div class="flex gap-4 flex-wrap">
              <Button href="mailto:tuliaobianca8@gmail.com">
                Email &rarr;
              </Button>
              <Button target={"_blank"} href="https://www.linkedin.com/in/biancatuliao/">
                LinkedIn &rarr;
              </Button>
            </div>
          </div>
        </Card>
      </div>
      <div class="col-span-2">
        <Card color="#66A0C8">
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-6xl">
              Drexel University
              
            </p>
          </div>
        </Card>
        <br>
        <Card color="#FDB2A2">
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-6xl">
              QVC
              
            </p>
          </div>
        </Card>
        <br>
        <Card color="#E8705F">
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-6xl">
              Temple University
                
            </p>
          </div>
        </Card>
        <br>
        <Card color="#87D3C3">
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-6xl">
              SAP
                
            </p>
          </div>
        </Card>
        <br>
        <Card color="#E47DA8">
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-6xl">
              TechGirlz
                
            </p>
          </div>
        </Card>
        <br>
        <Card color="#DDE2B2">
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-4 outfit text-2xl md:text-5xl lg:text-6xl">
              College of Lake County
                
            </p>
          </div>
        </Card>
      </div>
    </section>
  </main>
</Layout>
